<div class="container" style="padding-top:1.2%">
    <div class="row">
     {{#each user}} 
        <div class="col-sm-3 col-md-2">
            <p class="text-center">
                <img src="https://visage.surgeplay.com/full/195/c0294097f30a454699e9e7172f9be7e2" width="120" height="195">
            </p>
            <div class="list-group">
                <a class="list-group-item  active " href="localhost:3000/u/{{ name }}">General</a>
                <a class="list-group-item " href="/web/20160505054158/https://kohi.net/u/VitaPvP/practice/">Practice</a>
                <a class="list-group-item " href="/web/20160505054158/https://kohi.net/u/VitaPvP/factions/">Factions</a>
                <a class="list-group-item " href="/web/20160505054158/https://kohi.net/u/VitaPvP/sg/">SG</a>
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <div>

                <span style="font-size: 36px; margin-right:10px;">{{ name }}</span>
            </div>
            <div>
                <span class="text-muted">
                    Last seen {{ timeago lastlogin }} <!--2&nbsp;days, 15&nbsp;hours ago-->
                </span>
                {{/each}}  
            </div>
            <div>
                </br>
                <span class="label label-famous" style="vertical-align: text-bottom">Famous</span>
            </div>
            <hr>
            <div>
                Joined:
                <a data-toggle="tooltip" title="" data-original-title="2&nbsp;years, 1&nbsp;month ago">
                    Apr. 5th 2014
                </a>
            </div>
            <hr>
            <div>
                Profile Views: 9,509
            </div>
            <hr>
            <div>
                <p>Name History</p>
                <ul>
                    <li>
                        Original name: <b>VitaPvP</b>
                    </li>
                </ul>
            </div>
            <hr>
            <p>Squad Info:</p>
            Member of <a href="/web/20160505054158/https://kohi.net/squad/CTL/">CTL</a> for 4&nbsp;months
            <hr>
            {{#each friends}}
            <p>Friends <span class="badge">390</span></p>
            {{/each}}
            <hr>
            <div style="font-size: 150%">
                <a href="http://web.archive.org/web/20160505054158/https://twitter.com/VitaPvPey" style="margin: 10px"
                    data-toggle="tooltip" title="" data-original-title="Twitter: twitter.com/VitaPvPey"><span class="fa fa-lg fa-twitter"></span>&nbsp;VitaPvPey</a>
                <a href="http://web.archive.org/web/20160505054158/https://www.youtube.com/user/MrSketchMovieFR" style="margin: 10px"
                    data-toggle="tooltip" title="" data-original-title="YouTube: youtube.com/user/MrSketchMovieFR"><span
                        class="fa fa-lg fa-youtube-play"></span>&nbsp;MrSketchMovieFR</a>
                <a href="http://web.archive.org/web/20160505054158/http://twitch.tv/vitapvpey" style="margin: 10px"
                    data-toggle="tooltip" title="" data-original-title="Twitch: twitch.tv/vitapvpey"><span class="fa fa-lg fa-twitch"></span>&nbsp;vitapvpey</a>
            </div>
            <hr>
            <p>Comments <span class="badge">130</span></p>
            <div id="comments-list">
                <nav>
                    <ul class="pagination">
                        <li class="disabled"><a aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="active"><span>1</span></li>
                        <li style="cursor:pointer;"><a data-page="2" data-paginator="comments">2</a></li>
                        <li style="cursor:pointer;"><a data-page="3" data-paginator="comments">3</a></li>
                        <li style="cursor:pointer;"><a data-page="4" data-paginator="comments">4</a></li>
                        <li class="disabled"><span>...</span></li>
                        <li style="cursor:pointer;"><a data-page="13" data-paginator="comments">13</a></li>
                        <li style="cursor:pointer;"><a aria-label="Next" data-page="2" data-paginator="comments"><span
                                    aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a class="pull-left" style="position:relative; margin: 4px 5px 0 0;"><img src="http://web.archive.org/web/20160505054158im_/https://avatars.kohi.net/6ecc08318cdbfe23486b70a6efff8348589dd3de/helm/32/410100b2e9184bb18d634fc71102d17c.png"></a>
                        <a href="/web/20160505054158/https://kohi.net/u/VitaPvP_Junior/">VitaPvP_Junior</a>
                        <div class="text-muted pull-right" data-toggle="tooltip" title="" data-original-title="May 4, 2016, 10:49 a.m.">
                            <small>14&nbsp;hours, 52&nbsp;minutes ago</small>
                        </div>
                        <p style="margin-bottom:0px;word-wrap: break-word;overflow: hidden;">xd</p>
                    </li>
                    <li class="list-group-item">
                        <a class="pull-left" style="position:relative; margin: 4px 5px 0 0;"><img src="http://web.archive.org/web/20160505054158im_/https://avatars.kohi.net/89757e904df2a30a102d77b6f30e174760d5f22f/helm/32/16164ce3408e422ab6906a3f4a6f01a8.png"></a>
                        <a href="/web/20160505054158/https://kohi.net/u/Marcedes/">Marcedes</a>
                        <div class="text-muted pull-right" data-toggle="tooltip" title="" data-original-title="May 2, 2016, 5:09 p.m.">
                            <small>2&nbsp;days, 8&nbsp;hours ago</small>
                        </div>
                        <p style="margin-bottom:0px;word-wrap: break-word;overflow: hidden;">t puissan</p>
                    </li>
                    <li class="list-group-item">
                        <a class="pull-left" style="position:relative; margin: 4px 5px 0 0;"><img src="http://web.archive.org/web/20160505054158im_/https://avatars.kohi.net/6ecc08318cdbfe23486b70a6efff8348589dd3de/helm/32/410100b2e9184bb18d634fc71102d17c.png"></a>
                        <a href="/web/20160505054158/https://kohi.net/u/VitaPvP_Junior/">VitaPvP_Junior</a>
                        <div class="text-muted pull-right" data-toggle="tooltip" title="" data-original-title="May 2, 2016, 3:38 p.m.">
                            <small>2&nbsp;days, 10&nbsp;hours ago</small>
                        </div>
                        <p style="margin-bottom:0px;word-wrap: break-word;overflow: hidden;">LOL WTF</p>
                    </li>
                    <li class="list-group-item">
                        <a class="pull-left" style="position:relative; margin: 4px 5px 0 0;"><img src="http://web.archive.org/web/20160505054158im_/https://avatars.kohi.net/6ecc08318cdbfe23486b70a6efff8348589dd3de/helm/32/410100b2e9184bb18d634fc71102d17c.png"></a>
                        <a href="/web/20160505054158/https://kohi.net/u/VitaPvP_Junior/">VitaPvP_Junior</a>
                        <div class="text-muted pull-right" data-toggle="tooltip" title="" data-original-title="May 2, 2016, 3:38 p.m.">
                            <small>2&nbsp;days, 10&nbsp;hours ago</small>
                        </div>
                        <p style="margin-bottom:0px;word-wrap: break-word;overflow: hidden;">LOL WTF</p>
                    </li>
                    <li class="list-group-item">
                        <a class="pull-left" style="position:relative; margin: 4px 5px 0 0;"><img src="http://web.archive.org/web/20160505054158im_/https://avatars.kohi.net/21dd732ea48e268c93d1eee3473f6fac0b258ad5/helm/32/0a33e432b3d9438684c0c4a08c686879.png"></a>
                        <a href="/web/20160505054158/https://kohi.net/u/Teffie/">Teffie</a>
                        <div class="text-muted pull-right" data-toggle="tooltip" title="" data-original-title="May 2, 2016, 12:13 p.m.">
                            <small>2&nbsp;days, 13&nbsp;hours ago</small>
                        </div>
                        <p style="margin-bottom:0px;word-wrap: break-word;overflow: hidden;">Teffie&gt;Vitapvp
                            Spleef.</p>
                    </li>
                    <li class="list-group-item">
                        <a class="pull-left" style="position:relative; margin: 4px 5px 0 0;"><img src="http://web.archive.org/web/20160505054158im_/https://avatars.kohi.net/6ecc08318cdbfe23486b70a6efff8348589dd3de/helm/32/410100b2e9184bb18d634fc71102d17c.png"></a>
                        <a href="/web/20160505054158/https://kohi.net/u/VitaPvP_Junior/">VitaPvP_Junior</a>
                        <div class="text-muted pull-right" data-toggle="tooltip" title="" data-original-title="May 1, 2016, 5:53 p.m.">
                            <small>3&nbsp;days, 7&nbsp;hours ago</small>
                        </div>
                        <p style="margin-bottom:0px;word-wrap: break-word;overflow: hidden;">nn</p>
                    </li>
                    <li class="list-group-item">
                        <a class="pull-left" style="position:relative; margin: 4px 5px 0 0;"><img src="http://web.archive.org/web/20160505054158im_/https://avatars.kohi.net/2e1931414ed37e7ffe7702ec7d9ffdae5254c037/helm/32/ff455239d16e44c28b2c9136b06941df.png"></a>
                        <a href="/web/20160505054158/https://kohi.net/u/TryZeN_/">TryZeN_</a>
                        <div class="text-muted pull-right" data-toggle="tooltip" title="" data-original-title="May 1, 2016, 4:16 p.m.">
                            <small>3&nbsp;days, 9&nbsp;hours ago</small>
                        </div>
                        <p style="margin-bottom:0px;word-wrap: break-word;overflow: hidden;">Accept</p>
                    </li>
                    <li class="list-group-item">
                        <a class="pull-left" style="position:relative; margin: 4px 5px 0 0;"><img src="http://web.archive.org/web/20160505054158im_/https://avatars.kohi.net/6ecc08318cdbfe23486b70a6efff8348589dd3de/helm/32/410100b2e9184bb18d634fc71102d17c.png"></a>
                        <a href="/web/20160505054158/https://kohi.net/u/VitaPvP_Junior/">VitaPvP_Junior</a>
                        <div class="text-muted pull-right" data-toggle="tooltip" title="" data-original-title="April 29, 2016, 8:26 p.m.">
                            <small>5&nbsp;days, 5&nbsp;hours ago</small>
                        </div>
                        <p style="margin-bottom:0px;word-wrap: break-word;overflow: hidden;">OUI</p>
                    </li>
                    <li class="list-group-item">
                        <a class="pull-left" style="position:relative; margin: 4px 5px 0 0;"><img src="http://web.archive.org/web/20160505054158im_/https://avatars.kohi.net/0f79139cfd72f5e56174b3f022f45a4f7924fb03/helm/32/46dca51ec96f4b698471abe8a25c672a.png"></a>
                        <a href="/web/20160505054158/https://kohi.net/u/TacoIsHere/">TacoIsHere</a>
                        <div class="text-muted pull-right" data-toggle="tooltip" title="" data-original-title="April 29, 2016, 6:37 p.m.">
                            <small>5&nbsp;days, 7&nbsp;hours ago</small>
                        </div>
                        <p style="margin-bottom:0px;word-wrap: break-word;overflow: hidden;">Ggfgt</p>
                    </li>
                    <li class="list-group-item">
                        <a class="pull-left" style="position:relative; margin: 4px 5px 0 0;"><img src="http://web.archive.org/web/20160505054158im_/https://avatars.kohi.net/5e82cc79cdc91dbc52d7929f512ef149d7b87e0f/helm/32/c392c6e19bb243a0be99e59604ee46ee.png"></a>
                        <a href="/web/20160505054158/https://kohi.net/u/Laura75/">Laura75</a>
                        <div class="text-muted pull-right" data-toggle="tooltip" title="" data-original-title="April 29, 2016, 11:04 a.m.">
                            <small>5&nbsp;days, 14&nbsp;hours ago</small>
                        </div>
                        <p style="margin-bottom:0px;word-wrap: break-word;overflow: hidden;">vitapvp &gt; ALL</p>
                    </li>
                </ul>
                <nav>
                    <ul class="pagination">
                        <li class="disabled"><a aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="active"><span>1</span></li>
                        <li style="cursor:pointer;"><a data-page="2" data-paginator="comments">2</a></li>
                        <li style="cursor:pointer;"><a data-page="3" data-paginator="comments">3</a></li>
                        <li style="cursor:pointer;"><a data-page="4" data-paginator="comments">4</a></li>
                        <li class="disabled"><span>...</span></li>
                        <li style="cursor:pointer;"><a data-page="13" data-paginator="comments">13</a></li>
                        <li style="cursor:pointer;"><a aria-label="Next" data-page="2" data-paginator="comments"><span
                                    z aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>