html, body {
    height: 100%;
}

.navbar-brand {
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 0;
}

@media (min-width:768px) {
    .navbar-player-search {
        width: 130px !important;
    }
    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #f8f8f8;
}

.home-banner {
    min-height: 300px;
    max-height: 300px;
    overflow-y: hidden;
    padding: 0;
}


.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2B2F35;
    color: white;
    height: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer a {
    color: white;
}

.wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 130px;
}

.label-owner {
    background-color: #D9534F;
}

.label-developer {
    background-color: #D9534F;
}

.label-admin {
    background-color: #D9534F;
}

.label-seniormod {
    background-color: #00AAAA;
}

.label-mod {
    background-color: #00AAAA;
}

.label-trialmod {
    background-color: #FFAF24;
}

.label-famous {
    background-color: #00AA00;
}

.label-platinum {
    color: #000;
    background-color: #55FFFF;
}

.label-gold {
    background-color: #FFAA00;
}

.label-silver {
    background-color: #AAAAAA;
}

.label-basic {
    background-color: #5555FF;
}

.tab-pane-margined {
    margin-top: 20px;
}

table.practice-leaderboard td:nth-child(1) {
    width: 1px;
    white-space: nowrap;
}

table.practice-leaderboard td:nth-child(2) {
    width: 1px;
    white-space: nowrap;
    font-weight: bold;
}

table.practice-leaderboard td:nth-child(3) {
    text-align: right;
}

table.right-last-col td:last-child {
    text-align: right;
}

.li-link {
    cursor: pointer;
}

.li-link:hover {
    background-color: #d9edf7;
}

/*
     FILE ARCHIVED ON 06:14:44 Sep 17, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:09:08 Oct 06, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 738.974 (3)
  esindex: 0.012
  captures_list: 754.214
  CDXLines.iter: 9.745 (3)
  PetaboxLoader3.datanode: 145.475 (5)
  exclusion.robots: 0.258
  exclusion.robots.policy: 0.246
  RedisCDXSource: 1.78
  PetaboxLoader3.resolve: 1141.663 (4)
  load_resource: 586.111
*/