  <div style="text-align: center;">
    <img style="display: block;margin-left: auto;margin-right: auto;width: 30%;" src="https://telegramguides.com/wp-content/uploads/2018/04/minecraft-sticker-pack-telegram-7.png">
    <h1><b>Oops!.</b> Something went wrong. We could't find <b>
        "{{ error }}"</b></h1>
  </div>