  <div class="jumbotron banner-text">
    <div class="container">
      <h1>The Kuih Network</h1>
      <p> ts.kuih.net | kuih.net | donate.kuih.net</p>
    </div>
  </div>
  <div class="carousel slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner home-banner" role="listbox">
      <div class="item banner-img center-block active">
        <img src="assets/img/tumb/img4.png" style="top:22.926%;width:100%">
      </div>
      <div class="item banner-img center-block">
      <img src="assets/img/tumb/img3.png" style="top:22.926%;width:100%">
        </div>
      <div class="item banner-img center-block">
        <img src="assets/img/tumb/img2.png" style="top:22.926%;width:100%">
      </div>
    </div>
    </div>
    <div class="banner-bottom" style="text-align:center"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="card border-dark mb-3" style="max-width:100%">
            <div class="card-header" style="background-image: url(assets/img/main_2.png);background-size: cover"><h1 style="color: #fff;text-align: center;text-shadow: 1px 0px 1px #444, 0px 1px 1px #444, 2px 1px 1px #444, 1px 2px 1px #444, 3px 2px 1px #444, 2px 3px 1px #444, 4px 3px 1px #444, 3px 4px 1px #444;">Welcome to the Kuih Network!</h1></div>
            <div class="card-body">
              <h4 class="card-title"><b>Welcome to the Kuih Network!</b></h4> <p class="text-muted"><i>~ 12/14/2018</i></p>
              <p class="card-text"> From the creators of <b>KohiLife Network</b>, <i>IIStimpay</i>, <i>Resucting</i> and <i>REL4X</i></p>
              <p class="card-text"> We're here and going to stay for a long time!</p></br>
              <p class="card-text">Now we count with a new <del>Dev Team</del> and they are going to help us a lot by Improving the server and website!</p>
              <p class="card-text">We'll having every users profiles, Monthly Views, Each Country leaderboard and much more really soon!</p>
            
            </div>
          </div>
          <div class="card border-dark mb-3" style="max-width:100%">
            <div class="card-header" style="background-image: url(assets/img/main.png);background-size: cover"><h1 style="color: #fff;text-align: center;text-shadow: 1px 0px 1px #444, 0px 1px 1px #444, 2px 1px 1px #444, 1px 2px 1px #444, 3px 2px 1px #444, 2px 3px 1px #444, 4px 3px 1px #444, 3px 4px 1px #444;">The Kuih Network</h1></div>
            <div class="card-body">
              <h4 class="card-title"><b>Practice Release</b></h4> <p class="text-muted"><i>~ 12/13/2018</i></p>
              <p class="card-text">The practice will be released on <b>Saturday</b>, December 15th, @ 1PM ET @ 3PM GMT.</p></br>
              <p class="card-text"><b>News:</b> We're working on events for the people to host and we have released this amazing website</p>
              <p>For more info and a giveaway check: <a href="https://twitter.com/KuihNetwork/status/1073001056001511424">https://twitter.com/KuihNetwork/status/1073001056001511424</a> </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-sm-12" style="height: 10px">
              <a class="twitter-timeline" data-lang="en" data-width="450" data-height="350" data-theme="light" href="https://twitter.com/KuihNetwork?ref_src=twsrc%5Etfw">Tweets by KuihNetwork</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>