<div class="container">
    <h1 style="display: inline-block;">{{ mapkit.map_name}}</h1>
    <span class="btn-group" style="vertical-align: text-bottom">
        <button type="button" class="btn btn-xs btn-default" data-toggle="dropdown" aria-expanded="false">
                <span class="fa fa-arrow-down"></span>
            </button>
            <ul class="dropdown-menu">
                {{#each mapkit.maps }}
                <li>
                    <a href="/{{map_id}}">{{map_name}}</a>
                </li>
                {{/each}}
            </ul>
        </span>
    <div>
<hr>
<h5 class="text-muted text-semi-muted">Map 2 will be starting this <b>Sun. 29 September 2019</b> at <b>4:00PM EST</b></h5>
<br>
<b>The Kit</b>
<p>All enchantments not listed here are allowed</p>
    <ul>
        <li>Protection : 1</li>
        <li>Sharpness : 1</li>
        <li>Fire Aspect : 0</li>
        <li>Power : 4</li>
        <li>Flame : 1</li>
        <li>Knockback : 0</li>
        <li>Thorns : 0</li>
        <li>Punch : 0</li>
    </ul>
<p>Enchantments only found from Koth, Crates and Keys.</p>
    <ul>
        <li>Looting : 4 (KOTH)</li>
        <li>Looting : 4 (Crates)</li>
        <li>Looting : 4 (Keys)</li>
        <li>Fortune : 5 (Crates)</li>
        <li>Fortune : 5 (Kits)</li>
        <li>Fire Aspect : 2 (KOTH)</li>
        <li>Fire Aspect : 2 (Crates)</li>
        <li>Fire Aspect : 2 (Kits)</li>
    </ul>
<b>Potions</b>
<p>All enchantments not listed here are allowed</p>
    <ul>
        <li>No Strength</li>
        <li>No Regen</li>
        <li>No Weakness</li>
        <li>No Slowness Extended</li>
        <li>No Poison Extended</li>
    </ul>
<b>New Stuffs</b>
<p></p>
    <ul>
        <li>Private Chests - Make an private chest by putting a sign on a chest with [private] on the first line. Only leaders and officers will be able to open/break this chest and shift and right click at the sign to add members.</li>
        <li>Solo factions now get 1.02 dtr.</li>
        <li>The amount of land you can claim is based on the amount of players your faction has. Solo factions can only claim 4 chunks.</li>
        <li>Only the leader/officers can break spawners and beacons in your claim.</li>
        <li>Kills now show in the /f show list next to players names.</li>
        <li>The line “Online” from the scoreboard removed.</li>
        <li>4 roads with another awesome blocks.</li>
        <li>The end is now very cool with another exit and another koth called “End”.</li>
        <li>The end exit is now at 145, 0 East Road.</li>
        <li>Now you are allowed to break from 150 and claim to 940.</li>
        <li>We implement a new anti xray system called kuih xray.</li>
        <li>The limit of members per faction is now 30 members.</li>
        <li>We have decided to remove the custom tablist to remember the old days of the hcf.</li>
        <li>Blocks are still disabled in PvP tag :).</li>
        <li>We have patched some bugs in the kit system.</li>
        <li>We also add 2 more lobbies to the network.</li>
    </ul>
<b>Deathban</b>
<p>All enchantments not listed here are allowed</p>
    <ul>
        <li>Private Chests - Make an private chest by putting a sign on a chest with [private] on the first line. Only leaders and officers will be able to open/break this chest and shift and right click at the sign to add members.</li>
        <li>Solo factions now get 1.02 dtr.</li>
        <li>The amount of land you can claim is based on the amount of players your faction has. Solo factions can only claim 4 chunks.</li>
        <li>Only the leader/officers can break spawners and beacons in your claim.</li>
        <li>Kills now show in the /f show list next to players names.</li>
        <li>The line “Online” from the scoreboard removed.</li>
        <li>4 roads with another awesome blocks.</li>
        <li>The end is now very cool with another exit and another koth called “End”.</li>
        <li>The end exit is now at 145, 0 East Road.</li>
        <li>Now you are allowed to break from 150 and claim to 940.</li>
        <li>We implement a new anti xray system called kuih xray.</li>
        <li>The limit of members per faction is now 30 members.</li>
        <li>We have decided to remove the custom tablist to remember the old days of the hcf.</li>
        <li>Blocks are still disabled in PvP tag :).</li>
        <li>We have patched some bugs in the kit system.</li>
        <li>We also add 2 more lobbies to the network.</li>
    </ul>
<b>Staff Team</b>
<p>We are happy to welcome all of you to the staff team.</p>
    <ul>
        <li>Maxucting [ Owner ] </li>
        <li>Mauuuh [ JrDev ] </li>
        <li>Deflated [ Network Admin ] </li>
        <li>KohiClassic [ Admin ] </li>
        <li>KohiClassic [ Admin ] </li>
        <li>RankedPlayers [ Mod ] </li>
        <li>FridaySessions [ Mod ] </li>
        <li>wtfperuvian [ Trial Mod ] </li>
        <li>Tyzz [ Trial Mod ] </li>
        <li>Realting [ Trial Mod ] </li>
        <li>lZaynah [ Trial Mod ] </li>
        <li>luuciioo [ Trial Mod ] </li>
        <li>DefineNot [ Trial Mod ] </li>
        <li>Aptulio [ Trial Mod ] </li>
    </ul>

<b>I hope you all have fun at EOTW and SOTW!</b>