<div class="container">
  <div class="text-muted pull-right">
    Last edited by Benster_199 1&nbsp;hours ago 
    
  </div>
  
    <h1>Rules</h1>
    <div>
      <hr>

<p>These rules serve as a guideline for punishments for illegal actions, keep in mind that any staff member has the ability to soften or harden these punishments if they find it necessary. If you feel that you have been banned in-justly or would like to report somebody for breaking one of these rules, please <a href="http://voku.us/support">send us a ticket</a>.</p>

<p>RULES MAY BE ADDED OR CHANGED AT ANY TIME, IT IS UP TO THE PLAYERS TO MAKE SURE THEY KEEP UP TO DATE ON THESE</p>

<hr>

<h3>Hacked Clients</h3>

<ul>
<li>First offense - Permanent Ban</li>
</ul>

<p>Any mod that changes the way a player interacts with the server is considered a hacked client. This contains things such as force field, click aimbot, flying, etc.</p>

<hr>

<h3>Lying to Staff Members</h3>

<ul>
<li>First offense - Permanent Ban
Simple enough, do not lie to any staff member.</li>
</ul>

<hr>

<h3>X-Ray/Radar</h3>

<ul>
<li>First Offense - 1 Month Ban</li>
<li>Second Offense - Permanent Ban</li>
</ul>

<h3>Any Other Unapproved Texture Packs and Mods</h3>

<ul>
<li>First Offense - 2 Week Ban</li>
<li>Second Offense - Permanent Ban
Anything outside of the vanilla client used to provide an advantage to player that isn't considered a hack falls under this category. Mods that you have not been given permission to use are NOT allowed.</li>
</ul>

<hr>

<h3>Auto Clickers</h3>

<ul>
<li>First Offense - Permanent Ban</li>
<li>Modifying your mouse in ANYWAY Is not allowed</li>
</ul>

<h3>Macroing</h3>

<ul>
<li>First Offense - Permanent Ban</li>
</ul>

<p>Auto clickers and macros for your mouse are NOT allowed neither is rebinding mouse buttons or using more than one device at a time. And Yes, it is still illegal even if you were using your mouse while your dog/hamster/grandmother etc was using a second device. Dragclicking is also not allowed, neither is any other stupid crap you guys come up with in future.</p>

<hr>

<h3>Abuse or Exploit of a Bug or Glitch</h3>

<ul>
<li>First Offense - 2 Week Ban</li>
<li>Second Offense - Permanent Ban</li>
</ul>

<p>Exploiting any bug, whether Minecraft related (F3 + A) or plugin related, for the use of personal gain or causing harm to the server or its players is bannable. Maliciously using the factions plugin in ways that it is not meant for is considered abusing, this means things like storage factions and kicking to avoid power loss are not allowed. If you aren't sure if something is allowed, ask before you do it to prevent a possible ban. If you find a bug, please report it immediately to the admins through either private message or the <a href="http://voku.us/support">ticket system</a>.</p>

<hr>

<h3>Block Glitching</h3>

<ul>
<li>First Offense - 3 day ban</li>
<li>Second Offense - Scaling bans</li>
</ul>

<p>Block Glitching involves hitting a player through a block. If you are caught doing so you will be warned to stop by a member of staff. If you continue you will be banned for 3 days. If you are caught doing it again you will not be warned and will receive a scaling ban. If a player block glitches to kill another player and we find proof of this, the offending player will be banned as per above.
You will only get 1 warning</p>

<hr>

<h3>DTR evasion</h3>

<p>Kicking members during/before PVP in order to prevent DTR loss and going raidable.</p>

<ul>
<li>First offence - 3 day ban</li>
<li>Second Offence - 7 day ban</li>
<li>Third offence - 28 day ban</li>
<li>Fourth offence - Perm ban</li>
</ul>

<p>All players involved will be banned, this includes faction admins/mods who were online at the time as well as the players who left the faction</p>

<hr>

<h3>Inappropriate Chat Content</h3>

<ul>
<li>First Offense - 5 minute mute</li>
<li>Second Offense - 30 minute mute</li>
<li>Third Offense - 1 hour mute</li>
<li>Fourth offense - 1 day mute</li>
<li>Every Offense Afterwards - Scaling Bans</li>
</ul>

<p>Players who we consider serial offenders (people who we find to be considerably toxic in chat) will be permanently muted</p>

<hr>

<h3>Staff Disrespect</h3>

<p>Saying anything to a staff member which involves their personal life in anyway will get you muted/banned depending on context/how inappropriate the content is. The punishment will be decided by an admin and serial offenders may be permanently banned.</p>

<ul>
<li>Any Offense - Punishment decided by an admin</li>
</ul>

<p>This has become a big problem recently and it is not acceptable.</p>

<hr>

<h3>Death Threats/ Suicide jokes/Telling someone to kill themselves/Scamming</h3>

<ul>
<li>Punishment decided by Admin</li>
</ul>

<p>Racism will not be tolerated, harassment of our players and staff will not be tolerated, and spamming will not be tolerated. Scamming i.e. promising any purchasable items (CS: GO items, server ranks etc.) in exchange for in game items (diamonds and whatever else it is you guys are too lazy to actually play the game and get) or to join a faction, with the intent of not following through is NOT allowed in chat. If you are seen doing this in chat you will be muted, how long you are muted is up to the admins. Use common sense when typing in chat. If it isn't something you'd say to someone's face, then it isn't something you should say here. Releasing personal information about players includes but is not limited to facebook/instagram accounts, phone number, skype names, addresses, or pictures. This will result in a temp/permban or a blacklist depending on the situation.</p>

<hr>

<h3>Advertising of another Server</h3>

<ul>
<li>First Offense - Permanent Ban</li>
</ul>

<p>Simple enough, don't advertise. This does not include talking about another server in conversation.</p>

<hr>

<h3>Playing On or Using Alternate Accounts</h3>

<ul>
<li>First Offense - 1 Month Ban</li>
<li>Second Offense - Permanent Ban</li>
</ul>

<p>Alting on the Practice servers is not allowed</p>

<ul>
<li>First Offense - The alt will be banned, you will receive a warning.</li>
<li>Second Offense - 2 week ban</li>
</ul>

<p>The use of alternate accounts is not allowed on ANY of our servers. If you have any family/friends that share an IP with you, you are required to tell us through the <a href="http://voku.us/support">ticket system</a> so that we do not accidentally ban you.</p>

<hr>

<h3>Illegal Traps</h3>

<ul>
<li>First Offense - 1 Week Ban</li>
<li>Second Offense - 1 Month Ban</li>
<li>Third Offense - Permanent Ban</li>
</ul>

<p>Traps need to either kill players or give them the ability to /f home. A trap that does fails to do either of those is considered illegal. Walled up nether portals on claimed land are considered to be illegal traps.</p>

<hr>

<h3>Nether Portal Traps</h3>

<ul>
<li>First Offense - Warning</li>
<li>Second Offense - 1 week ban</li>
<li>Third Offense - 3 weeks ban</li>
<li>Fourth Offense - 6 week ban</li>
<li>Fifth Offense - Permanent Ban</li>
</ul>

<p>Nether fall traps involve trapping a portal in such a way that when the player goes through they can be knocked from the portal by another player causing them to either fall to their death or be killed by another player on a lower level.</p>

<hr>

<h3>DDoSing/DoSing/Doxing</h3>

<ul>
<li>First Offense - Blacklist (permanent ban with no ability to buy an unban)</li>
</ul>

<p>These are considered federal crimes in most countries and will NOT be tolerated on our servers. If you have any evidence of somebody committing these acts, please show us through the <a href="http://voku.us/support">ticket system</a>. This includes ALL DDoS threats, joke or not.</p>

<hr>

<h3>Cobble Monsters/Water Griefing/Bypass Faction protection</h3>

<ul>
<li>Scaling bans (starting at 3 days)</li>
</ul>

<p>Includes anything that bypasses claim protection to create/destroy blocks in another factions claim when you shouldn't be able to</p>

<hr>

<h3>Inappropriate Names</h3>

<p>Inappropriate names will be perm banned until the name is changed. This any name including the words "Nigger", "Faggot", "DDOS" or anything overly sexual. If you would like to get an approved alt in the meantime please let a member of staff know here - http://voku.us/support</p>

<hr>

<h3>Allying on factions</h3>

<p>If you are a solo faction, you are allowed to ally other factions in combat.  If you have more then one player in your faction, you are not allowed to ally with other factions in combat. If you are not in combat, you may "truce" with any faction.</p>

<ul>
<li><p>First Offence 3 day ban</p></li>
<li><p>Second Offence 10 day ban</p></li>
<li><p>Thrid Offence You will be banned for the remainder or the map.</p></li>
</ul>

    </div>
  
</div>