    <div class="panel panel-default">
        <div class="panel-heading">
            <p style="display: -webkit-inline-box;">{{body.title}}</p>
            <span class="badge badge-info pull-right">#3</span>
        </div>
        <div class="panel-body">
            <p><b>Youtube Video -</b> {{body.build_video}}</p>
            <p><b>Description -</b> {{body.build_description}}</p>
        </div>
    </div>