    <div class="panel panel-default">
        <div class="panel-heading">
            <p style="display: -webkit-inline-box;">{{body.title}}</p>
            <span class="badge badge-info pull-right">#3</span>
        </div>
        <div class="panel-body">
            <p><b>Server -</b> {{body.server}}</p>
            <p><b>Bug Description -</b> {{body.bug_description}}</p>
        </div>
    </div>