    <div class="panel panel-default">
        <div class="panel-heading">
            <p style="display: -webkit-inline-box;">{{body.title}}</p>
            <span class="badge badge-info pull-right">#3</span>
        </div>
        <div class="panel-body">
            <p><b>How can we help you? -</b> {{body.general_question}}</p>
        </div>
    </div>  