    <div class="panel panel-default">
        <div class="panel-heading">
            <p style="display: -webkit-inline-box;">{{body.title}}</p>
            <span class="badge badge-info pull-right">#3</span>
        </div>
        <div class="panel-body">
            <p><b>Why are you banned ? -</b> {{body.ban_reason}}</p>
            <p><b>IP -</b> {{body.ip  }}</p>
        </div>
    </div>