<div class="container">
    <div class="jumbotron" style="margin-bottom: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">
        <h1>Kuih Support</h1>
        <p><small>Welcome to the Kuih support system.</small></p>
    </div>
    <div class="row">
        <div class="col-md-10">
        <h3 for="category">Select a Category to Get Started.</h3>
        </div>
        <div class="col-md-2">
        <p class="pull-right" style="white-space: nowrap">Staff Applications Open <i class="far fa-check-circle" style="color:rgb(0, 173, 9)"></i></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <select class="form-control" id="support_category">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
</div>
