<div class="container">
    <div class="jumbotron" style="margin-bottom: 0px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">
        <h1>Kuih Support</h1>
        <p><small>Welcome to the Kuih support system.</small></p>
    </div>
    <div class="row">
        <div class="col-md-10">
        <h3 for="category">Select a Category to Get Started.</h3>
        </div>
        <div class="col-md-2">
        <p class="pull-right" style="white-space: nowrap">Staff Applications Open <i class="far fa-check-circle" style="color:rgb(0, 173, 9)"></i></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <select class="form-control" id="support_category" >
                <option value="0">Select a Category</option>
                <option value="1">Ban Appeal</option>
                <option value="2">Bought Unban</option>
                <option value="3">Bug Report</option>
                <option value="4">Donation</option>
                <option value="5">Unban Español</option>
                <option value="6">Hacker/Cheater Report</option>
                <option value="7">Staff Complaint</option>
                <option value="8">IP Ban Appeal</option>
                <option value="9">General Support</option>
                <option value="10">Build Submissions</option>
            </select>
        </div>
    </div>
</div>
<script>
$(document).ready(() => {
 $('#support_category').change(() => {
     console.log($(this))

 });
});
</script>